[Desktop Entry]
Name=Virtual Machine Manager
Comment=Manage virtual machines
Icon=virt-manager
Exec=env GDK_SCALE=1 virt-manager
Type=Application
Terminal=false
Categories=System;
