Section: dotfiles
Priority: optional
Standards-Version: 4.3.0

Package: chromium-no-skip-ink
Version: 1.0
Maintainer: none
Architecture: all
Description: Fix friggin text-decoration-skip-ink

Files: no-skip-ink/manifest.json /usr/share/chromium/extensions/no-skip-ink/
 no-skip-ink/no-skip-ink.css /usr/share/chromium/extensions/no-skip-ink/
