[Unit]
Description=Automatically reapplies redshift settings on any display connectivity change.

redshiftomatic startup script
After=basic.target

[Service]
ExecStart=$HOME/.dotfiles/services/redshiftomatic/redshiftomatic.sh
Type=simple
Restart=always

[Install]
WantedBy=default.target
