[Unit]
Description=Automatically reapplies redshift settings on any display connectivity change.
After=display-manager.service

[Service]
ExecStart=$HOME/.dotfiles/services/redshiftomatic/redshiftomatic.sh $FLAGS
Type=simple
Restart=always

[Install]
WantedBy=default.target graphical-session.target
